@model IEnumerable<MultiwarehouseMgt.RequestTable>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Daterequested)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatesTable.State)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Daterequested)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatesTable.State)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
